[submodule "01-Text_Compression/01-Run_Length_Encoding"]
	path = 01-Text_Compression/01-Run_Length_Encoding
	url = git@github.com:vicente-gonzalez-ruiz/Run_Length_Encoding.git
[submodule "01-Text_Compression/02-String_Compression/01-LZ77"]
	path = 01-Text_Compression/02-String_Compression/01-LZ77
	url = git@github.com:vicente-gonzalez-ruiz/LZ77.git
[submodule "01-Text_Compression/02-String_Compression/02-LZ78"]
	path = 01-Text_Compression/02-String_Compression/02-LZ78
	url = git@github.com:vicente-gonzalez-ruiz/LZ78.git
[submodule "01-Text_Compression/02-String_Compression/03-LZW"]
	path = 01-Text_Compression/02-String_Compression/03-LZW
	url = git@github.com:vicente-gonzalez-ruiz/LZW.git
[submodule "01-Text_Compression/03-Symbol_Encoding/01-Shannon-Fano_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/01-Shannon-Fano_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Shannon-Fano_Coding.git
[submodule "01-Text_Compression/03-Symbol_Encoding/02-Huffman_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/02-Huffman_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Huffman_Coding.git
[submodule "01-Text_Compression/03-Symbol_Encoding/03-Arithmetic_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/03-Arithmetic_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Arithmetic_Coding.git
