[submodule "01-Text_Compression/02-String_Compression/01-LZ77"]
	path = 01-Text_Compression/02-String_Compression/01-LZ77
	url = git@github.com:vicente-gonzalez-ruiz/LZ77.git
[submodule "01-Text_Compression/02-String_Compression/02-LZ78"]
	path = 01-Text_Compression/02-String_Compression/02-LZ78
	url = git@github.com:vicente-gonzalez-ruiz/LZ78.git
[submodule "01-Text_Compression/02-String_Compression/03-LZW"]
	path = 01-Text_Compression/02-String_Compression/03-LZW
	url = git@github.com:vicente-gonzalez-ruiz/LZW.git
[submodule "01-Text_Compression/03-Symbol_Encoding/01-Shannon-Fano_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/01-Shannon-Fano_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Shannon-Fano_Coding.git
[submodule "01-Text_Compression/03-Symbol_Encoding/02-Huffman_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/02-Huffman_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Huffman_Coding.git
[submodule "01-Text_Compression/03-Symbol_Encoding/03-Arithmetic_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/03-Arithmetic_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Arithmetic_Coding.git
[submodule "01-Text_Compression/03-Symbol_Encoding/04-Probabilistic_Models"]
	path = 01-Text_Compression/03-Symbol_Encoding/04-Probabilistic_Models
	url = git@github.com:vicente-gonzalez-ruiz/Probabilistic_Models.git
[submodule "01-Text_Compression/03-Symbol_Encoding/05-Move_To_Front_Transform"]
	path = 01-Text_Compression/03-Symbol_Encoding/05-Move_To_Front_Transform
	url = git@github.com:vicente-gonzalez-ruiz/Move_To_Front_Transform.git
[submodule "01-Text_Compression/01-Run_Length_Encoding/01-codecs"]
	path = 01-Text_Compression/01-Run_Length_Encoding/01-codecs
	url = git@github.com:vicente-gonzalez-ruiz/Run_Length_Encoding.git
[submodule "01-Text_Compression/01-Run_Length_Encoding/02-Burrows-Wheeler_Transform"]
	path = 01-Text_Compression/01-Run_Length_Encoding/02-Burrows-Wheeler_Transform
	url = git@github.com:vicente-gonzalez-ruiz/Burrows-Wheeler_Transform.git
[submodule "01-Text_Compression/03-Symbol_Encoding/06-Context-based_Text_Predictive_Transform"]
	path = 01-Text_Compression/03-Symbol_Encoding/06-Context-based_Text_Predictive_Transform
	url = git@github.com:vicente-gonzalez-ruiz/Context-based_Text_Predictive_Transform.git
[submodule "01-Text_Compression/03-Symbol_Encoding/07-Unary_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/07-Unary_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Unary_Coding.git
[submodule "01-Text_Compression/03-Symbol_Encoding/08-Golomb_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/08-Golomb_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Golomb_Coding.git
[submodule "01-Text_Compression/03-Symbol_Encoding/09-Rice_Coding"]
	path = 01-Text_Compression/03-Symbol_Encoding/09-Rice_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Rice_Coding.git
[submodule "01-Text_Compression/10-gzip"]
	path = 01-Text_Compression/10-gzip
	url = git@github.com:vicente-gonzalez-ruiz/gzip.git
[submodule "02-Audio_Coding/01-The_Sound"]
	path = 02-Audio_Coding/01-The_Sound
	url = git@github.com:vicente-gonzalez-ruiz/the_sound.git
